{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}


	<!-- Banner -->
	<section class="banner">
		<div class="container">
			<div class="row">
				<h1>Banner Space</h1>
					<div class="img">
						
					</div>
			</div>	
		</div>
	</section>

     

	<!-- Current Tags -->
	<section class="block gray-block" id="current-tags">
		<div class="container">
			<div class="row">
				<header>
					<h2>Current Tags</h2>
					<span class="line"></span>
				</header>
					
				{% for location in locations %}
				<img class="img-responsive thumbnail col-xs-6 col-md-4 " src="{{location.photo_url}}">

	            <h5>Name of Group:</h5>{{location.name}}
	            <h5>Description:</h5>{{location.description}}
	            <h5>Biker:</h5>{{location.current_photos_user_name}}
	            <h5>Start Time:</h5>{{location.posted_time}}
	            <br>
	            
	        {% endfor %}

			</div>
		</div>
	</section>

	<!-- About Us -->
	<section class="block" id="aboutus">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6 text">
					<h2>About Us</h2>
					<h3></h3>
					<a href="#" class="btn btn-gray">Learn more</a>
				</div>

				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 pull-right img">
					
				</div>
			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer id="contact">
		<div class="container">
			<div class="row">
				<div style="color: whitesmoke" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				</div>

				<div style="color: whitesmoke" class="col-xs-12 col-sm-7 col-md-7 col-lg-7 pull-right">
					<h2>Get Started</h2>

				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<p>Home grown in Austin © 2015 BikeTag </p>
				</div>

				<div class="col-lg-6 pull-right">
				</div>
			</div>
		</div>
	</footer>

<div class="container"
<hr>
</div>
{% endblock %}
