{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}


	<!-- Banner -->
	<section class="banner">
		<div class="container">
			<div class="row">
				<h1>Dude, where's my bike?</h1>
					<img height="400" class="img-responsive" src="{{ STATIC_URL }}bikers.jpg">
			</div>	
		</div>
	</section>

     

	<!-- Current Tags -->
	<section class="block gray-block" id="current-tags">
		<div class="container">
			<div class="row">
				<header>
					<h2>Current Tags</h2>
				</header>
					
				{% for location in locations %}
				<img height="200" class="img-responsive col-xs-3 col-md-3" src="{{location.photo_url}}">

				<div class="col-xs-9 col-md-9 pull-right">
		            <strong>Name of Group: </strong><br>
		            <a href="{{location.get_absolute_url}}">{{location.name}}</a><br>

		            <strong>Description: </strong><br>
		            {{location.description}}<br>

		            <strong>Biker: </strong><br>
		            {{location.current_photos_user_name}}<br>
		            <strong>Start Time: </strong><br>{{location.posted_time}}
		            <br>
		        </div> 
		        {% endfor %}
	        	
			</div>
		</div>
	</section>

	<!-- About Us -->
	<section class="block" id="aboutus">
		<div class="container">
			<div class="row">
				<div>
					<h2 class="text-center">About Us</h2>
					<br>
						<div class="row"><img id="team" class="img-responsive col-xs-6 col-md-6 col-xs-offset-6 col-md-offset-6" src="{{ STATIC_URL }}team.jpg"></div>
					<br>
					<h4 class="text-center"><em>We're just a friendly group of Texans wanting to promote a healthy, fun lifestyle through a fun game of bike tag!</em></h4>
					<h5 class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3 text-center">(From left to right) <strong>Stephanie:</strong> Developed most of the front-end. <strong>Paul: </strong>Developed most of the back-end. <strong>Nicole: </strong>Helped with some views. <strong>Tyler and I.K.: </strong>Developed the business and marketing strategy.</h5>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer id="contact">
		<div class="container">
			<div class="row">
				<div style="color: whitesmoke" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				</div>

				<div style="color: whitesmoke" class="col-xs-12 col-sm-7 col-md-7 col-lg-7 pull-right">
					<h2>Get Started</h2>

				</div>
			</div>

			<div class="row">
				<div>
					<p class="text-center">Home grown in Austin © 2015 BikeTag </p>
				</div>
			</div>
		</div>
	</footer>

<div class="container"
<hr>
</div>
{% endblock %}
