{% extends "base.html" %}
{% block content %}

<style type="text/css">

body {background-color: #e9dcd2;}
#contact {background-color: #ffffff;}

</style>

<header>
	<h3 class="text-center">Leaderboard</h3>
</header>

<section class="leaderboard">
	<div class="container">
		<div class="row">
			<img height="400" class="img-responsive" src="{{ STATIC_URL }}guy.jpeg">
			<br>
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th><strong>Biker</strong></th>
					<th><strong>Points</strong></th>
					<th><strong>Last Challenge Won</strong></th>
				</tr>
				
				{% for leader in leaderboard %}
				<tr>
					<td><a href="{{leader.user.get_absolute_url}}">{{leader.user.username}}</a></td>
					<td>{{leader.score}}</td>
					<td>{{leader.last_challenge_won}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</section>
<br>

<footer id="contact">
		<div class="container">
			<div class="row">
				<div style="color: whitesmoke" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				</div>

				<div style="color: whitesmoke" class="col-xs-12 col-sm-7 col-md-7 col-lg-7 pull-right">

				</div>
			</div>

			<div class="row">
				<div>
					<p class="text-center">Home grown in Austin © 2015 BikeTag </p>
				</div>
			</div>
		</div>
	</footer>



{% endblock %}