{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

	
<script>
var seconds = 1800;
function secondPassed() {
    var minutes = Math.round((seconds - 30)/60);
    var remainingSeconds = seconds % 60;
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;  
    }
    document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
    if (seconds == 0) {
        clearInterval(countdownTimer);
        document.getElementById('countdown').innerHTML = "0:00";
    } else {
        seconds--;
    }
}
 
var countdownTimer = setInterval('secondPassed()', 1000);
</script>

<div class="container">
	<h4>{{location.name}}</h4>
	<p>You've got <span id="countdown" class="timer">30:01</span> to choose the next location for this event.  Choose wisely, but hurry!<p>
	<img class="img-responsive thumbnail col-xs-6 col-md-4 " src="{{location.photo_url}}"><br>
	<hr>
</div>
{% endblock %}
{% block appJS %}
<script>
</script>
{% endblock %}




